<h1>Dashboard</h1>

<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <nz-card [nzActions]="[actionSetting]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #actionSetting>
        <span>Cộng hòa xã hội</span>
      </ng-template>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <nz-card [nzActions]="[actionSetting]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #actionSetting>
        <span>Cộng hòa xã hội</span>
      </ng-template>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <nz-card [nzActions]="[actionSetting]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #actionSetting>
        <span>Cộng hòa xã hội</span>
        <div>Haha</div>
      </ng-template>
    </div>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <div class="inner-box">
      <nz-card [nzActions]="[actionSetting]">
        <nz-card-meta
          nzTitle="Card title"
          nzDescription="This is the description"
        ></nz-card-meta>
      </nz-card>
      <ng-template #actionSetting>
        <span>Cộng hòa xã hội</span>
      </ng-template>
    </div>
  </div>
</div>

