<nz-content *ngIf="hasPermission">
  <h1>All Products</h1>
  <div style="float: right; margin-bottom: 10px;">
    <button routerLink="/add-product" nz-button nzType="primary">
      <span nz-icon nzType="plus"></span>
      Add New
    </button>
  </div>
  <nz-table
    #filterTable
    nzBordered
    [nzData]="listOfData"
    nzTableLayout="fixed"
    [nzLoading]="isLoading"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th nzColumnKey="id" nzWidth="6%">No.</th>
      <th nzColumnKey="name" [nzSortFn]="sortFnName">Name</th>
      <th nzColumnKey="price" [nzSortFn]="sortFnPrice">Price</th>
      <th nzColumnKey="category">Category</th>
      <th nzColumnKey="status" nzWidth="10%" [nzFilters]="filterStatus" [nzFilterFn]="filterFnStatus">Status</th>
      <th nzWidth="10%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data; let rowIndex = index">
      <td>{{ rowIndex + 1 }}</td>
      <td>
        <div style="display: flex; align-items: center; gap: 10px">
          <nz-avatar [nzShape]="'square'" nzSrc="{{data.thumbnail ? data.thumbnail : 'error'}}"></nz-avatar>
          <div>{{ data.name }}</div>
        </div>
      </td>
      <td *ngIf="data.minPrice == data.maxPrice">{{ data.maxPrice | currency : 'USD': '$' }}</td>
      <td *ngIf="data.minPrice != data.maxPrice">
        {{ data.minPrice | currency : 'USD': '$' }}
        -
        {{ data.maxPrice | currency : 'USD': '$' }}
      </td>
      <td>{{ data.categories }}</td>
      <td>{{ data.status }}</td>
      <td>
        <nz-button-group>
          <button routerLink="/products/{{data.id}}" nz-button nzType="primary"><span nz-icon nzType="edit"></span>
          </button>
          <button nz-button nzType="primary" nzDanger><span nz-icon nzType="delete" (click)="delete(data.id)"></span>
          </button>
        </nz-button-group>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-result *ngIf="!hasPermission" nzStatus="403" nzTitle="403" nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
