<nz-form-item [formGroup]="formGroup">
  <nz-form-label>{{title}}</nz-form-label>
  <nz-form-control>
    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbars"></ngx-editor-menu>
      <ngx-editor [editor]="editor" formControlName="{{controlName}}"
                  [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>
  </nz-form-control>
</nz-form-item>

