<nz-card nzTitle="Thumbnail" nzSize="small">
  <img nz-image width="100%" height="100%"
       nzSrc="{{imageUrl ? imageUrl : fallback}}"
       (click)="showModal()"
       nzDisablePreview="true"
       alt=""/>
</nz-card>
<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="File management"
  nzCentered
  nzWidth="1200px"
  (nzOnCancel)="handleCancelModal()"
  (nzOnOk)="handleOkModal()"
>
  <ng-container *nzModalContent>
    <file-management-component [isMultiSelect]="false" #fileManagementRef></file-management-component>
  </ng-container>
</nz-modal>
