<a nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
  <nz-avatar *ngIf="!currentUser.avatar" nzIcon="user"></nz-avatar>
  <nz-avatar *ngIf="currentUser.avatar" [nzSrc]="currentUser.avatar"></nz-avatar>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item routerLink="/setting" nzMatchRouter="true">
      <span nz-icon nzType="setting" nzTheme="outline" style="margin-right: 10px"></span>
      <span>Setting</span>
    </li>
    <li nz-menu-item>
      <button nz-button nzType="primary" nzSize="small" nzDanger (click)="logout()">
        <span nz-icon nzType="logout" nzTheme="outline" style="margin-right: 10px"></span>
        <span>Logout</span>
      </button>

    </li>
  </ul>
</nz-dropdown-menu>
