<h1>Order Detail</h1>

<nz-card [nzLoading]="isLoading">
  <nz-tabset nzTabPosition="top">
    <nz-tab nzTitle="Details">
      <nz-row [nzGutter]="[16, 16]">
        <nz-col>
          <nz-card nzTitle="Customer" nzExtra="Placed on 13.05.2023 10:20">
            <nz-descriptions>
              <nz-descriptions-item
                nzTitle="UserName">{{order.user.address.fullName}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Telephone">{{order.user.address.phoneNumber}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Email">{{order.user.email}}</nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-card nzTitle="Payment Method">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Method">
                <nz-tag [nzColor]="'blue'">{{order.payment.method}}</nz-tag>
              </nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Transaction ID">{{order.payment.id}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Amount">${{order.totalAmount}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="UserName">Zhou Maomao</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Status">
                <nz-tag [nzColor]="'red'">{{order.payment.status}}</nz-tag>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-card nzTitle="Shipping Address">
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Full Name">{{order.shippingAddress.fullName}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Phone Number">{{order.shippingAddress.phoneNumber}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Address">{{order.shippingAddress.address}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Street">{{order.shippingAddress.street}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Ward">{{order.shippingAddress.ward}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="District">{{order.shippingAddress.district}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions>
              <nz-descriptions-item nzTitle="Province">{{order.shippingAddress.province}}</nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>
        <nz-col nzSpan="16">
          <nz-card nzTitle="Product">
            <nz-table nzBordered [nzData]="order.orderItems" nzShowSizeChanger>
              <thead>
              <tr>
                <th nzColumnKey="id" nzWidth="6%">No.</th>
                <th nzColumnKey="name">Name</th>
                <th nzColumnKey="quantity" nzWidth="10%">Quantity</th>
                <th nzColumnKey="amount" nzWidth="15%">Amount</th>
                <th nzColumnKey="total" nzWidth="15%">Total</th>
                <th nzWidth="20%">Note</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of order.orderItems; index as i">
                <td>{{i + 1}}</td>
                <td>{{item.productDetail.product.name}} - {{item.productDetail.name}}</td>
                <td>{{item.quantity}}</td>
                <td>${{item.price}}</td>
                <td>${{item.price * item.quantity}}</td>
                <td>{{item.note}}</td>
              </tr>
              </tbody>
            </nz-table>
          </nz-card>
        </nz-col>
        <nz-col nzSpan="8">
          <nz-card nzTitle="Calculation">
            <nz-list [nzFooter]="footerAction">
              <nz-list-item>
                <span nz-typography>Subtotal</span>
                ${{order.totalAmount}}
              </nz-list-item>
              <nz-list-item>
                <span nz-typography>Shipping estimate</span>
                $0
              </nz-list-item>
              <nz-list-item>
                <span nz-typography>Tax estimate</span>
                $0
              </nz-list-item>
              <nz-list-item style="font-weight: bold">
                <span nz-typography>Total</span>
                ${{order.totalAmount}}
              </nz-list-item>
            </nz-list>
            <ng-template #footerAction>
              <div style="display: flex; gap: 10px; justify-content: right">
                <button nz-button nzType="primary">Confirm</button>
                <button nz-button nzType="default">Cancel</button>
              </div>
            </ng-template>
          </nz-card>
        </nz-col>
      </nz-row>
    </nz-tab>
    <nz-tab nzTitle="Status">
      <nz-row [nzGutter]="[16, 16]">
        <nz-col nzSpan="24">
          <nz-card nzTitle="Order Status">
            <nz-list nzGrid>
              <div nz-row [nzGutter]="16">
                <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                  <nz-list-item>
                    <nz-list-item-meta
                      nzTitle="Order Place Date"
                      nzDescription="Okilun"
                    ></nz-list-item-meta>
                  </nz-list-item>
                </div>
                <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                  <nz-list-item>
                    <nz-list-item-meta
                      nzTitle="Order Status"
                      nzDescription="Okilun"
                    ></nz-list-item-meta>
                  </nz-list-item>
                </div>
                <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                  <nz-list-item>
                    <nz-list-item-meta
                      nzTitle="Payment"
                      nzDescription="Okilun"
                    ></nz-list-item-meta>
                  </nz-list-item>
                </div>
                <div nz-col [nzXXl]="6" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24">
                  <nz-list-item>
                    <nz-list-item-meta
                      nzTitle="Order Amount"
                      nzDescription="Okilun"
                    ></nz-list-item-meta>
                  </nz-list-item>
                </div>
              </div>
            </nz-list>
          </nz-card>
        </nz-col>
        <nz-col nzSpan="24">
          <nz-card nzTitle="Tracking">
            <nz-timeline nzMode="left">
              <nz-timeline-item nzLabel="2015-09-01">Create a services</nz-timeline-item>
              <nz-timeline-item nzLabel="2015-09-01 09:12:11">Solve initial network problems</nz-timeline-item>
              <nz-timeline-item>Technical testing</nz-timeline-item>
              <nz-timeline-item nzLabel="2015-09-01 09:12:11">Network problems being solved</nz-timeline-item>
            </nz-timeline>
          </nz-card>
        </nz-col>
      </nz-row>
    </nz-tab>
  </nz-tabset>
</nz-card>
