.container
  height: 100vh
  display: flex

  .content
    width: 480px
    border-radius: 2px
    padding: 30px
    background: #F5F5F5
    margin: auto

    .card-header
      text-align: center
      margin-bottom: 30px

  .login-form-margin
    margin-bottom: 16px

    .login-form-forgot
      float: right

  .login-form-button
    width: 100%
