<div class="container">
  <div class="content">
    <div class="card-header">
      <nz-avatar *ngIf="currentUser.avatar" [nzSize]="64" nzIcon="user" [nzSrc]="currentUser.avatar"></nz-avatar>
      <nz-avatar *ngIf="!currentUser.avatar" [nzSize]="64" nzIcon="user"></nz-avatar>
      <h2 class="text-2xl bold">Welcome back!...</h2>
      <span>Sign in to your account to continue</span>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="usernameErrorTpl">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username or Email"/>
          </nz-input-group>
          <ng-template #usernameErrorTpl let-control>
            <div *ngIf="control.errors?.['required']">
              Please input your username!
            </div>
            <div *ngIf="control.errors?.['email']">
              The input is not valid E-mail!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a routerLink="/forgot-password" class="login-form-forgot">Forgot password</a>
        </div>
      </div>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isPending">Log
        in
      </button>
      Or
      <a class="px-0" routerLink="/signup" nz-button nzType="link">register now!</a>
    </form>
  </div>
</div>
