<nz-card nzTitle="Product category" nzSize="small" [nzLoading]="isLoading" #treeComponent>
  <nz-tree
    [nzData]="nodes"
    nzCheckable
    nzSelectMode="false"
    nzMultiple
    (nzClick)="nzEvent($event)"
    (nzExpandChange)="nzEvent($event)"
    (nzCheckBoxChange)="nzEvent($event)"
    [nzTreeTemplate]="nzTreeTemplate"
  ></nz-tree>
  <ng-template #nzTreeTemplate let-origin="origin">
      <span>
          <span style="font-weight: bold" *ngIf="origin.isOnlyParent">{{ origin.title }}</span>
          <span *ngIf="!origin.isOnlyParent">{{ origin.title }}</span>
      </span>
  </ng-template>
</nz-card>

