<div style="display: flex; align-items: center; gap: 5px">
  <span nz-icon nzType="global" nzTheme="outline" style="font-size: 18px"></span>
  <nz-select nzShowSearch [nzPlaceHolder]="selectedValue" [(ngModel)]="selectedValue">
    <nz-option nzLabel="English" nzValue="English"></nz-option>
    <nz-option nzLabel="Việt Nam" nzValue="Việt Nam"></nz-option>
  </nz-select>
</div>
