<nz-layout>
  <nz-sider nzWidth="350px">
    <div class="inner-sider">
      <h4 nz-typography>Change password</h4>
      <p>This information will be displayed publicly so be careful what you share.</p>
    </div>
  </nz-sider>
  <nz-content>
    <nz-card>
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="old-password" nzRequired>Old password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorOldPass">
            <input
              nz-input
              type="password"
              id="old-password"
              formControlName="oldPassword"
            />
            <ng-template #errorOldPass let-control>
              <div *ngIf="control.errors?.['required']">
                Please input your old password!
              </div>
            </ng-template>

          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="new-password" nzRequired>New password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your new password!">
            <input
              nz-input
              type="password"
              id="new-password"
              formControlName="newPassword"
              (ngModelChange)="updateConfirmValidator()"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmPassword" nzRequired>Confirm password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword"/>
            <ng-template #errorTpl let-control>
              <div *ngIf="control.errors?.['required']">
                Please confirm your password!
              </div>
              <div *ngIf="control.errors?.['confirm']">
                Two passwords that you enter are inconsistent!
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <span>
              Make sure it's at least 6 characters.
              <a>Learn more</a>
            </span>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: 0" nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" (click)="showConfirm()">Update password</button>
            <a> I forgot my password</a>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

  </nz-content>
</nz-layout>
