<nz-card nzTitle="Product details" nzSize="small" [nzExtra]="extraTitle" [nzLoading]="isLoading && isUpdate">
  <!--  single-->
  <form nzLayout="vertical" nz-form [formGroup]="formDetails.at(0)" *ngIf="segmentedState.index === 0">
    <input-price-component [formGroup]="formDetails.at(0)"></input-price-component>
    <rich-editor-component
      [formGroup]="formDetails.at(0)"
      controlName="description"
      [editor]="editors[0]"
      [title]="'Description'"
    ></rich-editor-component>
  </form>

  <!-- multiple-->
  <nz-tabset *ngIf="segmentedState.index === 1"
             [(nzSelectedIndex)]="tabSelectedIndex"
             nzType="editable-card"
             (nzAdd)="newTab()"
             (nzClose)="closeTab($event)"
  >
    <nz-tab *ngFor="let formGroup of formDetails.controls; let i = index" nzClosable [nzTitle]="tabTitleRef">
      <ng-template #tabTitleRef>
        <span>
          {{formGroup.value['productDetailName']}}
          <nz-badge *ngIf="formGroup.valid" nzStatus="success"></nz-badge>
          <nz-badge *ngIf="!formGroup.valid" nzStatus="processing" nzColor="#f50"></nz-badge>
        </span>
      </ng-template>
      <form nzLayout="vertical" nz-form [formGroup]="formGroup">
        <nz-form-item *ngIf="segmentedState.index === 1">
          <nz-form-label nzRequired>Detail Name</nz-form-label>
          <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
            <input nz-input formControlName="productDetailName" placeholder="input your product detail name"/>
            <ng-template #userErrorTpl let-control>
              <div *ngIf="control.errors?.['required']">
                Please input your username!
              </div>
              <div *ngIf="control.errors?.['duplicated']">
                The username is redundant!
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <input-price-component [formGroup]="formGroup"></input-price-component>
        <rich-editor-component
          [formGroup]="formGroup"
          controlName="description"
          [editor]="editors[i]"
          [title]="'Description'"
        ></rich-editor-component>
      </form>
    </nz-tab>
  </nz-tabset>
  <nz-form-label>Images</nz-form-label>
  <div style="display: flex; gap: 10px">
    <!--    loop image-->
    <nz-card style="position: relative" nzSize="small" *ngFor="let url of images[tabSelectedIndex]; index as i">
      <button style="position: absolute; right: 0px; top: 0px" nz-button nzType="dashed" nzSize="small"
              (click)="removeImage(i)">
        <span nz-icon nzType="close" nzTheme="outline"></span>
      </button>
      <img nz-image width="100px" height="100px" style="aspect-ratio: 1; object-fit: cover"
           nzSrc="{{url ? url : fallback}}"
           nzDisablePreview="true"
           alt=""/>
    </nz-card>

    <!--    button add-->
    <nz-card nzSize="small">
      <button style="width: 100px; height: 100px" nz-button nzType="dashed" (click)="showModal()">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
    </nz-card>
  </div>
  <nz-modal
    [(nzVisible)]="isModalVisible"
    nzTitle="File management"
    nzCentered
    nzWidth="1200px"
    (nzOnCancel)="handleCancelModal()"
    (nzOnOk)="handleOkModal()"
  >
    <ng-container *nzModalContent>
      <file-management-component [isMultiSelect]="false" #fileManagementRef></file-management-component>
    </ng-container>
  </nz-modal>
</nz-card>

<ng-template #extraTitle>
  <nz-segmented [nzOptions]="options" [(ngModel)]="segmentedState.index" (change)="turnOnMulti()"  [nzDisabled]="segmentedState.isDisable"></nz-segmented>
</ng-template>

