<nz-layout>
  <nz-sider nzWidth="350px">
    <div class="inner-sider">
      <h4 nz-typography>Notifications</h4>
      <p>We’ll always let you know about important changes, but you pick what else you want to hear about.</p>
    </div>
  </nz-sider>
  <nz-content>
    <nz-card>Content</nz-card>
  </nz-content>
</nz-layout>
