<nz-content *ngIf="hasPermission">
  <h1>{{pageState.title}}</h1>
  <div nz-row [nzGutter]="[16, 16]">
    <div nz-col nzSpan="18">
      <product-info-component [isUpdate]="pageState.isUpdate" #productInfoRef></product-info-component>
      <product-detail-component [isUpdate]="pageState.isUpdate" #productDetailRef></product-detail-component>
    </div>

    <div nz-col nzSpan="6">
      <nz-card nzTitle="Action" nzSize="small">
        <button id="btn-save" nz-button nzType="primary" (click)="save(true)" [nzLoading]="isPending">Save</button>
        <button id="btn-save-draft" nz-button nzType="dashed" (click)="save(false)" [nzLoading]="isPending">Save draft</button>
        <button id="btn-cancel" nz-button routerLink="/products" nzType="default" [disabled]="isPending">Cancel</button>
      </nz-card>
      <product-category-component #productCategoryRef></product-category-component>
      <product-thumbnail-component #productThumbnailRef></product-thumbnail-component>
    </div>
  </div>
</nz-content>
<nz-result *ngIf="!hasPermission" nzStatus="403" nzTitle="403"
           nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
