<nz-layout>
  <nz-sider nzWidth="350px">
    <div class="inner-sider">
      <h4 nz-typography>Profile</h4>
      <p>This information will be displayed publicly so be careful what you share.</p>
    </div>
  </nz-sider>
  <nz-content>
    <nz-card>
      <nz-avatar *ngIf="!imageUrl" [nzSize]="64" nzIcon="user"></nz-avatar>
      <nz-avatar *ngIf="imageUrl" nzIcon="user" [nzSrc]="imageUrl"></nz-avatar>
      <button (click)="isModalVisible = !isModalVisible" nz-button nzType="default" [nzLoading]="isPending">Change</button>
      <nz-modal
        [(nzVisible)]="isModalVisible"
        nzTitle="File management"
        nzCentered
        nzWidth="1200px"
        (nzOnCancel)="isModalVisible = !isModalVisible"
        (nzOnOk)="updateAvatar()"
      >
        <ng-container *nzModalContent>
          <file-management-component [isMultiSelect]="false" #fileManagementRef></file-management-component>
        </ng-container>
      </nz-modal>

      <form nzLayout="vertical" nz-form [formGroup]="userForm">
        <nz-form-item>
          <nz-form-label nzRequired>Username:</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Input is required">
            <input type="text" nz-input formControlName="username"/>
          </nz-form-control>
        </nz-form-item>
      </form>

    </nz-card>
  </nz-content>
</nz-layout>
