<nz-content *ngIf="hasPermission">
  <h1>Product Category</h1>

  <nz-table nzSize="small" #filterTable nzBordered [nzData]="listOfData" nzTableLayout="fixed" [nzLoading]="isLoading">
    <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <th nzWidth="10%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData; let rowIndex = index">
      <td>{{ rowIndex + 1 }}</td>
      <td>
        <a><strong *ngIf="data.isOnlyParent()">{{ data.categoryName }}</strong></a>
        <a *ngIf="!data.isOnlyParent()">{{ data.categoryName }}</a>
      </td>
      <td>{{ data.slug }}</td>
      <td>{{ data.description }}</td>
      <td>
        <nz-button-group>
          <button routerLink="/update-product/{{data.id}}" nz-button nzType="primary"><span nz-icon
                                                                                            nzType="edit"></span>
          </button>
          <button nz-button nzType="primary" nzDanger><span nz-icon nzType="delete"></span>
          </button>
        </nz-button-group>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-content>

<nz-result *ngIf="!hasPermission" nzStatus="403" nzTitle="403"
           nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
