<nz-card nzTitle="Product" nzSize="small" [nzLoading]="isLoading && isUpdate">
  <form nzLayout="vertical" nz-form [formGroup]="productForm">
    <nz-form-item>
      <nz-form-label nzRequired>Name</nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Input is required">
        <input type="text" nz-input formControlName="name" required placeholder="input product name"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>
        Url: {{window.location.protocol + '//' + window.location.host + '/' + productForm.controls.slug.value}}
      </nz-form-label>
      <nz-form-control nzHasFeedback nzErrorTip="Input is required">
        <input type="text" nz-input formControlName="slug"/>
      </nz-form-control>
    </nz-form-item>
    <rich-editor-component [formGroup]="productForm" [editor]="editor" controlName="shortDescription"
                           [title]="'Short Description'"></rich-editor-component>
  </form>
</nz-card>
