<nz-content *ngIf="hasPermission">
  <h1>All Users</h1>

  <nz-table
    #filterTable
    nzBordered
    [nzData]="listOfData"
    nzTableLayout="fixed"
    [nzLoading]="isLoading"
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzTotal]="total"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th nzColumnKey="id" nzWidth="6%">No.</th>
      <th nzColumnKey="fullName" [nzSortFn]="sortFnFullName">Fullname</th>
      <th nzColumnKey="email" [nzSortFn]="sortFnEmail">Email</th>
      <th nzColumnKey="phoneNumber" [nzSortFn]="sortFnPhoneNumber">Phone number</th>
      <th nzColumnKey="username" [nzSortFn]="sortFnUsername">Username</th>
      <th nzColumnKey="role" [nzFilters]="filterRole" [nzFilterFn]="filterFnRole">Role</th>
      <th nzColumnKey="status" nzWidth="10%" [nzFilters]="filterStatus" [nzFilterFn]="filterFnStatus">Status</th>
      <th nzWidth="10%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of filterTable.data; let rowIndex = index">
      <td>{{ rowIndex + 1 }}</td>
      <td style="display: flex; gap: 10px; align-items: center">
        <nz-avatar [nzShape]="'square'"
                   nzSrc="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcRRto3IlY56MlAIOAvXHvPEVxBDVzG1uz1zULEBYdJ-I4Aa-xOyPEVvv7fmIjLnxaOz"></nz-avatar>
        <div>{{ data.fullName }}</div>
      </td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.username }}</td>
      <td>{{ data.role }}</td>
      <td>{{ data.status }}</td>
      <td>
        <nz-button-group>
          <button nz-button nzType="primary"><span nz-icon nzType="edit"></span>
          </button>
          <button nz-button nzType="primary" nzDanger><span nz-icon nzType="delete" (click)="delete(data.id)"></span>
          </button>
        </nz-button-group>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-content>
<nz-result *ngIf="!hasPermission" nzStatus="403" nzTitle="403"
           nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
