<nz-tabset nzType="card">
  <nz-tab nzTitle="Files">
    <nz-layout>
      <nz-sider nzWidth="250px">
        <nz-card [nzLoading]="isLoadingTree">
          <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" [nzDirectoryTree]="true">
            <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
              <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
              <nz-tree-node-option
                [nzDisabled]="node.disabled"
                [nzSelected]="selectListSelection.isSelected(node)"
                (nzClick)="selectListSelection.toggle(node)"
              >
                <span nz-icon nzType="file" nzTheme="outline"></span>
                {{ node.name }}
              </nz-tree-node-option>
            </nz-tree-node>

            <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
              <nz-tree-node-toggle>
                <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
              </nz-tree-node-toggle>
              <nz-tree-node-option
                [nzDisabled]="node.disabled"
                [nzSelected]="selectListSelection.isSelected(node)"
                (nzClick)="selectListSelection.toggle(node)"
              >
                <span nz-icon [nzType]="treeControl.isExpanded(node) ? 'folder-open' : 'folder'"
                      nzTheme="outline"></span>
                {{ node.name }}
              </nz-tree-node-option>
            </nz-tree-node>
          </nz-tree-view>
        </nz-card>
      </nz-sider>
      <nz-content nz-col nzFlex="auto">
        <nz-card [nzLoading]="isLoadingFile">
          <nz-radio-group [(ngModel)]="selectedFile" style="display: flex; flex-wrap: wrap ;gap: 10px">
            <div style="position: relative" *ngFor="let fileUpload of listOfData; index as i">
              <label *ngIf="fileUpload.id === selectedFile.id" nz-radio style="position: absolute; left: 0.2em; z-index: 9;"
                     [nzValue]="fileUpload"
              ></label>
              <nz-card class="{{fileUpload.id === selectedFile.id ? 'is-selected' : ''}}" nzSize="small"
                       (click)="selectFile(fileUpload)">
                <img style="width: 100px; height: 100px; object-fit: cover" src="{{fileUpload.url}}">
              </nz-card>
            </div>
          </nz-radio-group>
        </nz-card>
      </nz-content>
      <nz-sider *ngIf="selectedFile.id !== ''" nzWidth="250px">
        <nz-card [nzLoading]="isLoadingTree">
          <img style="aspect-ratio: 1; object-fit: cover" nz-image width="100%" height="100%"
               [nzSrc]="selectedFile.url"
               [nzFallback]="fallback"
               alt=""/>
          <!--              <span nz-typography nzEditable [nzContent]="selectedFile.name"></span>-->

          <nz-list nzItemLayout="horizontal">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span nz-typography>Name: </span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <span nz-typography nzEditable [nzContent]="selectedFile.name"></span>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span nz-typography>Url: </span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <a href="{{selectedFile.url}}" target="_blank">
                    {{selectedFile.url}}
                  </a>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span nz-typography>Dimension: </span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  {{selectedFile.dimension}}
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span nz-typography>Size: </span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  {{selectedFile.size + 'KB'}}
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title>
                  <span nz-typography>File type: </span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  {{selectedFile.contentType}}
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
          </nz-list>
          <div style="float: right">
            <button nz-button nzType="primary" nzDanger (click)="delete()" [nzBlock]="selectedFile.id !== ''"
                    [nzLoading]="isPending">
              <span nz-icon nzType="delete"></span>
              Delete
            </button>
          </div>
        </nz-card>
      </nz-sider>
    </nz-layout>
  </nz-tab>
  <nz-tab nzTitle="Upload">
    <nz-card>
      <nz-upload
        nzType="drag"
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        [nzCustomRequest]="uploadFile"
        [nzRemove]="removeFile"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
        <p class="ant-upload-hint">
          Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
        </p>
      </nz-upload>
    </nz-card>
  </nz-tab>
</nz-tabset>

