<div class="container">
  <div class="content">
    <div class="card-header">
      <nz-avatar [nzSize]="64" nzIcon="user"
                 nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
      <h2 class="text-2xl bold">Welcome back!...</h2>
      <span>Sign in to your account to continue</span>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item class="form-item">
        <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
        <nz-form-control nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="userName" placeholder="input your username"/>
          <ng-template #userErrorTpl let-control>
            <div *ngIf="control.errors?.['required']">
              Please input your username!
            </div>
            <div *ngIf="control.errors?.['duplicated']">
              The username is redundant!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="input your email" type="email"/>
          <ng-template #emailErrorTpl let-control>
            <div *ngIf="control.errors?.['email']">
              The input is not valid E-mail!
            </div>
            <div *ngIf="control.errors?.['required']">
              Please input your E-mail!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="Please input your password!">
          <input nz-input type="password" formControlName="password" placeholder="input your email" (ngModelChange)="validateConfirmPassword()"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="confirm your password"/>
          <ng-template #passwordErrorTpl let-control>
            <div *ngIf="control.errors?.['required']">
              Please confirm your password!
            </div>
            <div *ngIf="control.errors?.['confirm']">
              Password is inconsistent!
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="form-item">
        <nz-form-control [nzOffset]="7">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
