.container
  height: 100vh
  display: flex

  .content
    width: 480px
    border-radius: 2px
    padding: 30px
    background: #F5F5F5
    margin: auto

    .card-header
      text-align: center
      margin-bottom: 30px

    .form-item
      display: block
      margin-bottom: 10px

  button
    margin-left: 8px

