<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a>Component</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item [nzOverlay]="menu">
    <a href>An Application</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Button</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item>General</li>
    <li nz-menu-item>Layout</li>
    <li nz-menu-item>Navigation</li>
  </ul>
</nz-dropdown-menu>
