<nz-content *ngIf="hasPermission">
  <h1>All Orders</h1>

  <nz-list nzGrid [nzLoading]="isLoading">
    <div nz-row [nzGutter]="16">
      <div routerLink="/orders/{{item.id}}" nz-col [nzXXl]="4" [nzXl]="6" [nzLg]="8" [nzMd]="12" [nzSm]="24" [nzXs]="24"
           *ngFor="let item of listOfData">
        <nz-list-item>
          <nz-ribbon nzText="Pending" nzColor="red">
            <nz-card [nzTitle]="'#'+item.id.substring(0, 7)" nzExtra="0" nzHoverable nzSize="small">
              <nz-list-item>
                <nz-list-item-meta
                  [nzTitle]="item.shippingAddress.fullName.toUpperCase()"
                  [nzAvatar]="item.user.avatar ? item.user.avatar : '.jpeg'"
                  [nzDescription]="description"
                >
                </nz-list-item-meta>
              </nz-list-item>
              <div style="display: flex; justify-content: space-between; margin-top: 12px; font-weight: bold">
                <div>Total Amount:</div>
                <div>${{item.totalAmount}} </div>
              </div>
            </nz-card>
          </nz-ribbon>
        </nz-list-item>

        <ng-template #description>
          <div>
            <p><span nz-icon nzType="aim" nzTheme="outline"></span> {{item.shippingAddress.address}}</p>
            <div *ngIf="item.createdDate < 60"><span nz-icon nzType="clock-circle"
                                                     nzTheme="outline"></span> {{item.createdDate}} minutes ago
            </div>
            <div *ngIf="item.createdDate >= 60">
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
              {{Math.floor(item.createdDate / 60)}}h {{item.createdDate % 60}}m ago
            </div>
            <div *ngIf="item.createdDate/60 >= 24">
              <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
              {{item.createdDate / 60 / 24}} day ago
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </nz-list>
  <div style="float: right">
    <nz-pagination
      nzShowSizeChanger
      [nzPageIndex]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="loadDataFromServer(pageIndex - 1, pageSize)"
      (nzPageSizeChange)="loadDataFromServer(pageIndex - 1, pageSize)">
    </nz-pagination>
  </div>
</nz-content>

<nz-result *ngIf="!hasPermission" nzStatus="403" nzTitle="403"
           nzSubTitle="Sorry, you are not authorized to access this page.">
  <div nz-result-extra>
    <button routerLink="/" nz-button nzType="primary">Back Home</button>
  </div>
</nz-result>
