.logo
  padding: 10px 0px
  margin: 16px
  background: rgba(0, 0, 0, 0.3)
  font-size: 18px
  font-weight: bold
  color: white
  text-align: center

nz-header
  background: #fff
  padding: 0 24px 0 24px

  .right-header
    display: flex
    align-items: center
    justify-content: flex-end
    gap: 20px

nz-content
  padding: 24px

nz-footer
  text-align: center
