<nz-layout>
  <nz-sider nzTheme="light" nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">
    <div class="logo">{{title}}</div>
    <ul nz-menu nzMode="inline">
      <li
        nz-menu-item
        routerLink="/dashboard"
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''"
        nzMatchRouter="true"
      >
        <span nz-icon nzType="dashboard"></span>
        <span>Dashboard</span>
      </li>
      <li
        nz-menu-item
        routerLink="/files"
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Files' : ''"
        nzMatchRouter="true"
      >
        <span nz-icon nzType="folder"></span>
        <span>Files</span>
      </li>
      <li nz-submenu nzTitle="Products" nzIcon="code-sandbox">
        <ul>
          <li nz-menu-item routerLink="/products" nzMatchRouter="true">All Products</li>
          <li nz-menu-item routerLink="/add-product" nzMatchRouter="true">Add New Product</li>
          <li nz-menu-item routerLink="/category-product" nzMatchRouter="true">Category</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="/users" nzMatchRouter="true">All Users</li>
        </ul>
      </li>
      <li
        nz-menu-item
        routerLink="/orders"
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Files' : ''"
        nzMatchRouter="true"
      >
        <span nz-icon nzType="account-book" nzTheme="outline"></span>
        <span>Orders</span>
      </li>
      <li
        nz-menu-item
        routerLink="/setting"
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Setting' : ''"
        nzMatchRouter="true"
      >
        <span nz-icon nzType="setting" nzTheme="outline"></span>
        <span nz-typography>Setting</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="right-header">
        <language-selector></language-selector>
        <notification-button></notification-button>
        <avatar-button></avatar-button>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>FoodPoni ©2024 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
