<nz-form-item [formGroup]="formGroup">
  <nz-form-label nzRequired>Price</nz-form-label>
  <nz-form-control nzHasFeedback nzErrorTip="Input is required">
    <nz-input-group nzSuffix="USD" nzPrefix="$">
      <input type="text" nz-input formControlName="productPrice"/>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>

